harga_singkong_augmented.csv
harga_singkong_augmented2.csv
harga_singkong.csv
output.csv
.vscode/launch.json
.vscode/settings.json
tempCodeRunnerFile.py
tempCodeRunnerFile.ipynb
perbandingan_harga_10_iterasi.jpg
tabel_perbandingan_harga.jpg
