output.csv
.vscode/launch.json
.vscode/settings.json
tempCodeRunnerFile.py
tempCodeRunnerFile.ipynb
perbandingan_harga_10_iterasi.jpg
tabel_perbandingan_harga.jpg
Classification_Mapping.png
FLRG Mapping.png
FLRG_Mapping_Styled.png
table.jpg
fuzzy_memberships.png
tabel_perbandingan.docx
tiga6.py
TAIEX.csv.bz2
new.py
.gitignore
FTS-main