harga_singkong_augmented.csv
harga_singkong_augmented2.csv
harga_singkong.csv
output.csv
.vscode/launch.json
.vscode/settings.json
tempCodeRunnerFile.py
tempCodeRunnerFile.ipynb
perbandingan_harga_10_iterasi.jpg
tabel_perbandingan_harga.jpg
validation.csv
new.py
fts.ipynb
Classification_Mapping.png
FLRG Mapping.png
FLRG_Mapping_Styled.png
